﻿@*@model IEnumerable<Data.Models.CustomerModel>*@
@model PagedList.IPagedList<Data.Models.CustomerModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div style="display:flex">
    <h3 style="margin-bottom: 20px;">
        Customer List
    </h3>
    <h3 style="margin-left: auto; margin-top: 18px; ">
        <a href="@Url.Action("Create","Customer")" class="btn btn-default">Register New</a>
    </h3>
</div>

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        <b>Find by Name : </b> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Mobile No
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Active
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td @*class="active"*@>
                @Html.CheckBoxFor(modelItem => item.IsActive)
            </td>
            <td style="text-align:right">
                <button>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </button>
                <button>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('You are sure wants to delete this Record?');" })
                </button>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
@*@section scripts
    {
    <script>
        $(document).ready(function () {

            $(".active").click(function () {
                window.location.href = "/Customer/Index";
            });
        })
    </script>
        }*@